:host {
    position: absolute;
    left: -60px;
}

.wrapper {
    background-color: white;
    padding: 8px;
}

.form {
    min-width: 600px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }