.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .name {
        font-size: 22px;
        font-weight: 700;
    }
}

.module-content {
    padding: 0 24px;
}