.header {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 16px;
}

.searching {
    i {
        position: absolute;
        right: 85px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 3;
    }
}