<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Login</th>
            <th>Inicjały</th>
            <th>Logo</th>
            <th class="actions"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index">
            <td>{{i+1}}</td>
            <td>{{user.displayName}}</td>
            <td>{{user.login}}</td>
            <td>{{user.shortName}}</td>
            <td>
                <img [src]="user.emoticon" alt="user-emoticon">
            </td>
            <td class="actions">
                <button class="btn btn-sm btn-primary mr-2" (click)="toggleEditModal(user)"><i class="bi bi-pencil"></i></button>
                <button class="btn btn-sm btn-danger" (click)="toggleDeleteConfirmatnion(user)"><i class="bi bi-x-lg"></i></button>

            </td>
        </tr>
    </tbody>
</table>

<app-delete-user-confirmation
    *ngIf="deleteConfirmatnionIsOpen && selectedUser"
    [user]="selectedUser"
    (onModalClose)="toggleDeleteConfirmatnion()"
></app-delete-user-confirmation>
<app-add-user
    *ngIf="editModalIsOpen"
    type="edit"
    [userInput]="selectedUser"
    (onModalClose)="toggleEditModal()"
></app-add-user>
