.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100vw;
    min-height: 100vh;
    background-color:rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    width: 60vw;
    min-height: 50vh;
    max-height: 80vh;
    padding: 15px;
    background-color: pink;
    overflow-y: auto;
}

.modal-title {
    text-align: center;
}

input, textarea {
    width: 90%;
    font-size: 15px;
}

select {
    width: 300px;
    margin-bottom: 15px;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
    margin-left: 15px;
    margin-right: 15px;
}

img {
    max-height: 250px;
    max-width: 250px;
}

.answer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
}