<div class="header">
    <div class="name">Generator</div>
</div>
<div class="module-content">
    <div *ngIf="!isNewTest" class="start-new">
        <button class="btn btn-primary" (click)="startNewTest()">
            Stwórz nowy test
        </button>
    </div>
    <app-tests-table *ngIf="!isNewTest" [tests]="tests" ></app-tests-table>
    <div *ngIf="isNewTest" class="action-buttons mb-3">
        <div class="left">
            <button [disabled]="!isTestValid()" class="btn btn-secondary mr-2" *ngIf="selectedCategory" (click)="printTest()">
                Drukuj
            </button>
            <button [disabled]="!isTestValid()" class="btn btn-secondary" *ngIf="selectedCategory" (click)="saveTest()">
                Zapisz
            </button>

        </div>
        <div class="center">
            <button class="btn btn-secondary mr-2" *ngIf="selectedCategory" (click)="getRandom()">
                Losowanie
            </button>
            <button class="btn btn-secondary" *ngIf="selectedCategory" (click)="restetQuestions()">
                Resetuj
            </button>
        </div>
        <div class="right">

            <button class="btn btn-secondary ml-2" (click)="abortNewTest()">
                Anuluj
            </button>
        </div>

    </div>
    <ng-container *ngIf="isNewTest && newTest">
        <app-category-selector [categories]="allCategories" [disabled]="false"></app-category-selector>
        <app-new-test *ngIf="selectedCategory"  [newTest]="newTest"></app-new-test>
    </ng-container>
</div>