<div *ngIf="!loading"  class="wrapper">
    
    <div class="title">Jenerator</div>
    <div class="error-message" [class.visible]="errorMessage" [class.hidden]="!errorMessage">{{errorMessage}}</div>
    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate >
        <div class="mb-3">
            <label for="login" class="form-label">Login</label>
            <input
                type="text"
                class="form-control"
                id="login"
                required
                maxlength="25"
                formControlName="login"
                (keydown)="inputChange()"
            >
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Hasło</label>
            <input
                type="password"
                class="form-control"
                id="inputPassword"
                required
                maxlength="25"
                formControlName="password"
                (keydown)="inputChange()"
                (keydown.enter)="onSubmit()"
            >
        </div>
        <div class="button-wrapper">
            <button class="btn btn-primary" type="submit">Zaloguj</button>
        </div>
    </form>
</div>

<div *ngIf="loading" class="wrapper">
    <app-loading></app-loading>
</div>
