<div class="wrapper card">
    <div class="resoults">
        
    </div>
    <div class="header mt-3">
        <span>{{selectedType ? 'Wybrany typ:' : 'Wybierz typ:'}}</span>
        <div class="searching">
            <button
                class="btn"
                [class.btn-secondary]="selectedType!=='singleSelect'"
                [class.btn-primary]="selectedType==='singleSelect'"
                (click)="selectType('singleSelect')"
            >single</button>
            <button
                class="btn"
                [class.btn-secondary]="selectedType!=='multiSelect'"
                [class.btn-primary]="selectedType==='multiSelect'"
                (click)="selectType('multiSelect')"
            >multi</button>
            <button
                class="btn"
                [class.btn-secondary]="selectedType!=='open'"
                [class.btn-primary]="selectedType==='open'"
                (click)="selectType('open')"
            >open</button>
        </div>
    </div>
    <!-- <div class="searching">
        <button
            class="btn"
            [class.btn-secondary]="selectedType!=='singleSelect'"
            [class.btn-primary]="selectedType==='singleSelect'"
            (click)="selectType('singleSelect')"
        >single</button>
        <button
            class="btn"
            [class.btn-secondary]="selectedType!=='multiSelect'"
            [class.btn-primary]="selectedType==='multiSelect'"
            (click)="selectType('multiSelect')"
        >multi</button>
        <button
            class="btn"
            [class.btn-secondary]="selectedType!=='open'"
            [class.btn-primary]="selectedType==='open'"
            (click)="selectType('open')"
        >open</button>
    </div> -->
</div>