.error-message {
    display: block;
    height: 26px;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    color: red;
    font-size: 16px;
}

.content {
    max-width: 70%;

    .confirmation {
        text-align: center;
    }
}