<div class="wrapper mt-4">

    <app-loading *ngIf="loading"></app-loading>

    <div class="filtering" *ngIf="!loading">

    <div class="table-wrapper" *ngIf="questions && !loading">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td class="nr">#</td>
                    <td class="content">Treść pytania</td>
                    <td class="author">Autor</td>
                    <td>Typ</td>
                    <td>Status</td>
                    <td class="actions"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="filter-control">
                            <input class="form-control" type="text" [(ngModel)]="questionsFilter.content" (keyup)="onFilterChange()">
                            <i class="bi bi-x-lg" *ngIf="questionsFilter.content" (click)="clearFilter('content')"></i>
                        </div>
                    </td>
                    <td>
                        <div class="filter-control">
                            <input class="form-control" type="text" [(ngModel)]="questionsFilter.author" (keyup)="onFilterChange()">
                            <i class="bi bi-x-lg" *ngIf="questionsFilter.author" (click)="clearFilter('author')"></i>
                        </div>
                    </td>
                    <td class="type">
                        <div class="filter-control">
                            <select class="form-control" type="text" [(ngModel)]="questionsFilter.type" (change)="onFilterChange()">
                                <option value="">wszystkie</option>
                                <option value="singleSelect">single</option>
                                <option value="multiSelect">multi</option>
                                <option value="open">open</option>
                            </select>
                        </div>
                    </td>
                    <td class="status">
                        <div class="filter-control">
                            <select class="form-control" type="text" [(ngModel)]="questionsFilter.status" (change)="onFilterChange()">
                                <option value="">wszystkie</option>
                                <option value="active">aktywne</option>
                                <option value="blocked">zablokowane</option>
                            </select>
                        </div>
                    </td>
                    <td class="actions">
                        <button 
                            class="btn btn-sm btn-secondary clear-filter"
                            (click)="clearFilter()"
                            *ngIf="questionsFilter.content || questionsFilter.author || questionsFilter.type || questionsFilter.status"
                        >Wyczyść filtr</button>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let question of questions; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{question.questionContent}}</td>
                    <td>{{question.author.shortName}}</td>
                    <td>{{translateTypeNames(question.type)}}</td>
                    <td>
                        <i *ngIf="question.blocked" class="status bi bi-lock" ngbTooltip="To pytanie jest zablokowane i nie zostanie uwzględnione przy tworzeniu testu"></i>
                        <i *ngIf="!question.blocked" class="status bi bi-unlock"></i>
                    </td>
                    <td class="actions">
                        <!-- <button
                            *ngIf="isNewTest"
                            class="btn btn-sm btn-primary mr-2" (click)="addToNewTest(question)"
                        ><i class="bi bi-file-earmark-plus"></i></button> -->
                        <button
                            class="btn btn-sm btn-primary mr-2"
                            (click)="togglePreviewModal(question)"
                            ngbTooltip="Zobacz widok szczegółowy"
                        ><i class="bi bi-arrow-up-right"></i></button>
                        <button
                            *ngIf="!isNewTest"
                            class="btn btn-sm btn-primary mr-2"
                            (click)="toggleEditModal(question)"
                            ngbTooltip="Edytuj pytanie"
                        ><i class="bi bi-pencil"></i></button>
                        <button
                            *ngIf="!isNewTest"
                            class="btn btn-sm btn-danger"
                            (click)="toggelDeleteModalIsOpen(question)"
                            ngbTooltip="Usuń pytanie"
                        ><i class="bi bi-x-lg"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="no-questions-message" *ngIf="!loading && !questions">
        <span>Brak pytań do wyświetlenia.</span>
    </div>
</div>

<app-delete-confirmation
    *ngIf="deletModalIsOpen && selectedQuestion"
    (onModalClose)="toggelDeleteModalIsOpen()"
    [question]="selectedQuestion"
></app-delete-confirmation>

<app-question-preview
    *ngIf="editModalIsOpen && selectedQuestion"
    [question]="selectedQuestion"
    (onCloseModal)="toggleEditModal()"
></app-question-preview>

<app-question-preview
    *ngIf="previewModalIsOpen && selectedQuestion"
    [question]="selectedQuestion"
    [previewOnly]="true"
    (onCloseModal)="togglePreviewModal()"
></app-question-preview>
