<div class="wrapper mt-4">

    <app-loading *ngIf="loading"></app-loading>

    <div class="filtering" *ngIf="!loading">

    <div class="table-wrapper" *ngIf="questions && !loading">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td class="content">Treść pytania</td>
                    <td class="author">Autor</td>
                    <td class="status">Status</td>
                    <td class="type">Typ</td>
                    <td class="tags">Tagi <button class="btn btn-primary btn-sm" (click)="openTagsEditor()">edytuj</button></td>
                    <td class="species">Rodzaj</td>
                    <td class="actions"></td>
                </tr>
                <tr>
                    <td class="content">
                        <div class="filter-control">
                            <input class="form-control" type="text" [(ngModel)]="questionsFilter.content" (keyup)="onFilterChange()">
                            <i class="bi bi-x-lg" *ngIf="questionsFilter.content" (click)="clearFilter('content')"></i>
                        </div>
                    </td>
                    <td class="author">
                        <div class="filter-control">
                            <input class="form-control" type="text" [(ngModel)]="questionsFilter.author" (keyup)="onFilterChange()">
                            <i class="bi bi-x-lg" *ngIf="questionsFilter.author" (click)="clearFilter('author')"></i>
                        </div>
                    </td>
                    <td class="type">
                        <div class="filter-control">
                            <select class="form-control" type="text" [(ngModel)]="questionsFilter.type" (change)="onFilterChange()">
                                <option value="">wszystkie</option>
                                <option value="singleSelect">single</option>
                                <option value="multiSelect">multi</option>
                                <option value="open">open</option>
                            </select>
                        </div>
                    </td>
                    <td class="species">
                        <div class="filter-control">
                            <select class="form-control" name="species" id="species" [(ngModel)]="questionsFilter.species" (change)="onFilterChange($event)">
                                <option [value]="undefined">wszystkie</option>
                                <option [value]="0">wiedza</option>
                                <option [value]="1">kalkulacja</option>
                            </select>
                        </div>
                    </td>
                    <td class="tags">
                        <div class="filter-control">
                            <input class="form-control" type="text" [(ngModel)]="questionsFilter.tags" (keyup)="onFilterChange()">
                            <i class="bi bi-x-lg" *ngIf="questionsFilter.tags" (click)="clearFilter('tags')"></i>
                        </div>
                    </td>
                    <td class="status">
                        <div class="filter-control">
                            <select class="form-control" type="text" [(ngModel)]="questionsFilter.status" (change)="onFilterChange()">
                                <option value="">wszystkie</option>
                                <option value="active">aktywne</option>
                                <option value="blocked">zablokowane</option>
                            </select>
                        </div>
                    </td>
                    <td class="actions">
                        <button 
                            class="btn btn-sm btn-secondary clear-filter"
                            (click)="clearFilter()"
                            *ngIf="questionsFilter.content 
                            || questionsFilter.author 
                            || questionsFilter.type 
                            || questionsFilter.status
                            || questionsFilter.species
                            || questionsFilter.tags
                            "
                        >Wyczyść filtr</button>
                    </td>
                </tr>
            </thead>
            <tbody #questionsTable>
                <tr *ngFor="let question of questionsToShow">
                    <td class="content">{{question.questionContent}}</td>
                    <td class="author">{{question.author.shortName}}</td>
                    <td class="status">{{translateTypeNames(question.type)}}</td>
                    <td class="species">{{translateQuestionSpeciesName(question.species)}}</td>
                    <td class="tags">{{showTags(question.tags)}}</td>
                    <td class="status">
                        <i *ngIf="question.blocked" class="status bi bi-lock" ngbTooltip="To pytanie jest zablokowane i nie zostanie uwzględnione przy tworzeniu testu"></i>
                        <i *ngIf="!question.blocked" class="status bi bi-unlock"></i>
                    </td>
                    <td class="actions">
                        <app-action-cell 
                            [isNewTest]="isNewTest"
                            (onDetails)="togglePreviewModal(question)"
                            (onEdit)="toggleEditModal(question)"
                            (onRemove)="toggelDeleteModalIsOpen(question)"
                        ></app-action-cell>
                    </td>
                </tr>
            </tbody>
        </table>
         <app-pagination-footer [paginationInfo]="setPaginationInfo()" (onChangeRange)="changeRange($event)"></app-pagination-footer>
    </div>

    <div class="no-questions-message" *ngIf="!loading && !questions">
        <span>Brak pytań do wyświetlenia.</span>
    </div>
</div>

<app-delete-confirmation
    *ngIf="deletModalIsOpen && selectedQuestion"
    (onModalClose)="toggelDeleteModalIsOpen()"
    [question]="selectedQuestion"
></app-delete-confirmation>

<app-question-preview
    *ngIf="editModalIsOpen && selectedQuestion"
    [question]="selectedQuestion"
    (onCloseModal)="toggleEditModal()"
></app-question-preview>

<app-question-preview
    *ngIf="previewModalIsOpen && selectedQuestion"
    [question]="selectedQuestion"
    [previewOnly]="true"
    (onCloseModal)="togglePreviewModal()"
></app-question-preview>

<app-tags-editor
    [selectedCategory]="selectedCategory"
></app-tags-editor>
