
.table-wrapper {
    width: 100%;

    table {
        margin-bottom: 0;
    }
}

.nr {
    width: 40px;
}

.status, .type, .species {
    width: 110px;
}

.content {
    width: 40%;
}

.author {
    width: 70px;
}

.btn-sm {
    padding: 1px 5px;
    font-size: 12px;
}

.filter-control {
    position: relative;

    select, input {
        font-size: 13px !important;
        padding: 2px
    }

    i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &.creation {
        width: 120px
    }

    &.author {
        max-width: 50px
    }
}

.actions {
    width: 20px;
    cursor: pointer;
    
    button:not(.clear-filter) {
        visibility: hidden;
    }
}

tbody tr:hover {
    .actions button {
        visibility: visible;
    }
}

.filtering {
    display: flex;
    align-items: center;
    margin-bottom: 6px;

    .type-filter {
        display: flex;
        gap: 4px;
        margin-left: 4px;
    }

    .input-group {
        margin-bottom: 0 !important;
    }
}

.no-questions-message {
    margin: 24px;
    text-align: center;
    font-style: italic;
}

i.status {
    font-size: 18px;
    
    &.bi-lock {
        color: red
    }
}

.range-selectors {
    display: flex;
    gap: 15px;
    padding: 5px 0 5px 20px;
  
    button {
        padding: 3px;
        line-height: unset;
        height: 32px
    }
}