
.table-wrapper {
    width: 100%;
}

.nr {
    width: 40px;
}

.status, .type {
    width: 150px;
}

.content {
    width: 45%;
}

.author {
    width: 80px;
}

.filter-control {
    position: relative;

    i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &.creation {
        width: 120px
    }

    &.author {
        width: 100px
    }
}

.actions {
    width: 140px;
    
    button:not(.clear-filter) {
        visibility: hidden;
    }
}

tbody tr:hover {
    .actions button {
        visibility: visible;
    }
}

.filtering {
    display: flex;
    align-items: center;
    margin-bottom: 6px;

    .type-filter {
        display: flex;
        gap: 4px;
        margin-left: 4px;
    }

    .input-group {
        margin-bottom: 0 !important;
    }
}

.no-questions-message {
    margin: 24px;
    text-align: center;
    font-style: italic;
}

i.status {
    font-size: 18px;
    
    &.bi-lock {
        color: red
    }
}