<div class="modal-wrapper">
    <div class="modal-content" *ngIf="!previewOnly">
        <div class="header">
            {{question ? 'Edytuj pytanie' : 'Dodaj pytanie'}}
        </div>

        <app-category-selector [categories]="categories" [disabled]="question ? true : false"></app-category-selector>

        <app-type-selector *ngIf="selectedCategory" (onTypeSelect)="onTypeSelect($event)" [questionType]="question ? question.type : ''"></app-type-selector>

        <app-species-selector *ngIf="selectedType" [questionSpecies]="question ? question.species : undefined" (onSpeciesSelect)="selectSpecies($event)"></app-species-selector>
        
        <div class="content">
            <div class="confirmation" *ngIf="selectedCategory && selectedType">
                <form [formGroup]="questionForm" (ngSubmit)="onSubmit()" id="questionForm" validate>
                    <div class="mb-4 mt-4">
                        <div class="answer-inputs">
                            <input 
                                type="checkbox"
                                formControlName="blocked"
                                id="blocked"
                            >
                            <label for="blocked" class="mb-0">Pytanie zablokowane</label>
                        </div>

                    </div>
                    <div class="mb-4">
                        <label for="questionContent" class="form-label">Treść pytania:</label>
                        <textarea formControlName="questionContent" type="text" class="form-control" id="questionContent" rows="3"></textarea>
                    </div>
                    <ng-container *ngIf="selectedType!='open'" formGroupName="answers">
                        <div class="mb-4">
                            <label for="question1-content" class="form-label">Odpowiedź 1</label>
                            <div class="answer-inputs" formGroupName="ans1">
                                <input 
                                    type="checkbox"
                                    formControlName="isRight"
                                    (change)="checkboxChange('ans1')"
                                >
                                <textarea class="form-control" id="question1-content" formControlName="content"></textarea>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="question1-content" class="form-label">Odpowiedź 2</label>
                            <div class="answer-inputs" formGroupName="ans2">
                                <input 
                                    type="checkbox"
                                    formControlName="isRight"
                                    (change)="checkboxChange('ans2')"
                                >
                                <textarea class="form-control" id="question2-content" formControlName="content"></textarea>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="question1-content" class="form-label">Odpowiedź 3</label>
                            <div class="answer-inputs" formGroupName="ans3">
                                <input
                                    type="checkbox"
                                    formControlName="isRight"
                                    (change)="checkboxChange('ans3')"
                                >
                                <textarea class="form-control" id="question3-content" formControlName="content"></textarea>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="question1-content" class="form-label">Odpowiedź 4</label>
                            <div class="answer-inputs" formGroupName="ans4">
                                <input
                                    type="checkbox"
                                    formControlName="isRight"
                                    (change)="checkboxChange('ans4')"
                                >
                                <textarea class="form-control" id="question4-content" formControlName="content"></textarea>
                            </div>
                        </div>
                    </ng-container>
                    <div class="mb-4">
                        <label for="questionContent" class="form-label">Adres url obrazka:</label>
                        <input type="text" class="form-control" id="imgUrl" formControlName="img" (keyup)="setSrc()">
                    </div>
                    <img class="mb-4" *ngIf="imgSrc" [src]="imgSrc" alt="img-preview" style="max-width: 100%;">
                    <div class="mb-4" formGroupName="tags">
                        <label class="form-label">Tagi:</label>
                        <ng-container *ngIf="tags && tags.length">
                            <div class="answer-inputs" *ngFor="let tag of tags; index as i" [formGroupName]="i">
                                <input
                                    type="checkbox"
                                    formControlName="isChecked"
                                >
                                <textarea class="form-control" formControlName="name"></textarea>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!tags || !tags.length">
                            <p>brak tagów do wyświetlenia</p>
                        </ng-container>
                        
                    </div>  
                </form>
            </div>
        </div>

        <div class="footer">
            <button class="btn btn-secondary" (click)="closeModal()">Anuluj</button>
            <button class="btn btn-primary" form="questionForm" type="submit" [disabled]="!isValidToSave()" >Zapisz</button>
        </div>
    </div>

    <div class="modal-content" *ngIf="previewOnly">
        <div class="header preview" >
            Szczegóły
        </div>

        <div class="content">
            <div class="preview-container">
                <div *ngIf="question.blocked" class="blocked-question-info text-danger"><i class="bi bi-lock"></i>Pytanie zablokowane</div>
                <div>Kategoria: <strong>{{question.category.name}}</strong></div>
                <div>Typ pytania: <strong>{{translateTypeNames(question.type)}}</strong></div>
                <div>Rodzaj pytania: <strong>{{translateQuestionSpeciesName(question.species)}}</strong></div>
                <div>Autor pytania: <strong>{{question.author.shortName}}</strong></div>
                <div>Data utworzenia: <strong>{{(question.creationDate | date:'d.M.yyyy, HH:mm') || '---' }}</strong></div>
                <div class="mt-2">Pytanie:</div>
                <div class="question-content preview">
                    {{question.questionContent}}
                </div>
                <div class="answers preview mt-2">
                    <div *ngFor="let answer of question.answers" class="answer mb-1">
                        <div><input [class.isRight]="answer.isRight" type="checkbox" disabled [checked]="answer.isRight"></div>
                        <div>{{answer.content}}</div>
                    </div>
                </div>
                <div *ngIf="question.img" class="img preview mt-2">
                    <img [src]="question.img" alt="">                    
                </div>


                
            </div>
        </div>

        <div class="footer">
            <button class="btn btn-secondary" (click)="closeModal()">Zamknij</button>
        </div>
    </div>
</div>