<app-top-menu></app-top-menu>
<div class="wrapper">
    <app-left-menu></app-left-menu>
    <div class="modules-container">
        <app-overview *ngIf="shoulBeVisible('categories')"></app-overview>
        <app-questions *ngIf="shoulBeVisible('questions')"></app-questions>
        <app-generator *ngIf="shoulBeVisible('generator')"></app-generator>
        <app-help  *ngIf="shoulBeVisible('help')"></app-help>
        <app-manage-wrapper *ngIf="shoulBeVisible('manage')"></app-manage-wrapper >
    </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
