<div class="wrapper mt-4">
    <table *ngIf="!testPreviewIsOpen" class="table table-hover">
        <thead>
            <tr>
                <th>Kategoria</th>
                <th>Nazwa</th>
                <th class="date">Utworzono</th>
                <th>Autor</th>
                <th class="actions">Akcje</th>
            </tr>
            <tr>
                <th>
                    <div class="filter-control">
                        <input class="form-control" type="text" [(ngModel)]="testsFilter.category" (keyup)="filterTests()">
                        <i class="bi bi-x-lg" *ngIf="testsFilter.category" (click)="clearFilter('category')"></i>
                    </div>
                </th>
                <th>
                    <div class="filter-control">
                        <input class="form-control" type="text" [(ngModel)]="testsFilter.name" (keyup)="filterTests()">
                        <i class="bi bi-x-lg" *ngIf="testsFilter.name" (click)="clearFilter('name')"></i>
                    </div>
                </th>
                <th>
                    <div class="filter-control creation">
                        <input class="form-control" type="text" [(ngModel)]="testsFilter.creation" (keyup)="filterTests()">
                        <i class="bi bi-x-lg" *ngIf="testsFilter.creation" (click)="clearFilter('creation')"></i>
                    </div>
                </th>
                <th>
                    <div class="filter-control author">
                        <input class="form-control" type="text" [(ngModel)]="testsFilter.author" (keyup)="filterTests()">
                        <i class="bi bi-x-lg" *ngIf="testsFilter.author" (click)="clearFilter('author')"></i>
                    </div>
                </th>
                <th>
                    <button
                        *ngIf="testsFilter.category || testsFilter.name || testsFilter.creation || testsFilter.author"
                        class="btn btn-sm btn-secondary"
                        (click)="clearFilter('')"
                    >Wyczyść filtr</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let test of tests; let i=index">
                <td>{{test.category.name}}</td>
                <td>{{test.name}}</td>
                <td>{{test.date | date:'dd.MM.yyyy, HH:mm'}}</td>
                <td>{{test.author.shortName}}</td>
                <td class="actions">
                    <button
                        class="btn btn-sm btn-primary mr-2"
                        (click)="toggleTestPreview(test)"
                        ngbTooltip="Otwórz test"
                    ><i class="bi bi-file-earmark-text"></i></button>
                    <button
                        class="btn btn-sm btn-danger"
                        (click)="toggleRemoveConfirmation(test)"
                        ngbTooltip="Usuń test"
                    ><i class="bi bi-x-lg"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div *ngIf="!tests.length" class="empty-table">
        Brak wyników
    </div>

    <app-pagination-footer *ngIf="!testPreviewIsOpen" [paginationInfo]="setPaginationInfo()" (onChangeRange)="changeRange($event)"></app-pagination-footer>
    
    <app-test-preview
        *ngIf="testPreviewIsOpen && selectedTest"
        [test]="selectedTest"
        (onPreviewClose)="toggleTestPreview()"
    ></app-test-preview>
</div>

<app-delete-test-confirmation
    *ngIf="deleteConfirmationIsOpen && selectedTest"
    [test]="selectedTest"
    (onModalClose)="toggleRemoveConfirmation()"
></app-delete-test-confirmation>

