* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
  width: 210mm;
  min-height: 297mm;
  max-height: 297mm;
  border: 1px solid black;
}

.header {
  margin-bottom: 5mm;
  border-bottom: 1px solid black;
  height: 20mm;
}

header::after {
  content: "";
  clear: both;
  display: table;
}

.student-info {
  float: left;
}

.date-placeholder, .student-name-placehoder {
  font-size: 4mm;
}

.date-placeholder {
  margin-bottom: 3mm;
}

.test-info {
  float: right;
  text-align: end;
}

.category-name {
  font-size: 4mm;
  margin: 0 0 3mm 0;
}

.composer-name {
  font-size: 3mm;
}

.question {
  margin-bottom: 3mm;
  border-top: 1px solid gray;
  height: 85mm;
}

.question.open {
  height: 100mm;
}

.first {
  border: none;
}

.question::after {
  content: "";
  clear: both;
  display: table;
}

h6 {
  margin: 2mm 0;
  font-size: 4mm;
}

.left-container {
  float: left;
}

div.checkbox {
  border: 1px solid black;
  border-radius: 2px;
  width: 3mm;
  min-height: 3mm;
  display: inline-block;
  margin: 1mm 2mm 0 2mm;
}

div.checkbox-label {
  min-height: 3mm;
  display: inline-block;
  font-size: 3.5mm;
}


label {
  margin: 0;
  font-size: 10px;
  display: inline;
}

.right-container {
  float: right;
}

img {
  max-height: 80mm;
  max-width: 70mm;
}