@import '../../global-styling/colors.scss';

.wrapper {
    display: block;
    min-height: calc(100vh - 60px);
    height: 100%;
    background: $color1-opacity50;
    position: relative;

    .trigger {
        position: absolute;
        left: 10px;
        top: -50px;
        background: #606C3850;
        color: $color3;
    }

    .menu  {
        padding: 48px 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .menu-item {
        line-height: 36px;
        font-size: 16px;
        font-weight: 400;
        color: $font-gray;
        cursor: pointer;
        position: relative;
  
        &.active {
            color: $font-dark-gray;
            background-color: $light-gray;
            border-right: 3px solid $color2;
        }

        span.tab-name {
            display: none;
        }

        i {
            padding: 0 10px;
        }

        &:hover {
            background-color: $light-gray;;
            i {
                color: $color1
            }
        }
    }

    span.new-test-info {
        font-size: 18px;
        position: absolute;
        right: 3px;
        top: -7px;
    }
}