<div class="container">

  <div *ngIf="getDataRequestPending" class="spinner-wrapper row justify-content-center mt-5">
    <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
      <span class="sr-only">Pobieranie...</span>
    </div>
  </div>
  
  <div class="col justify-content-start p-3" *ngIf="!getDataRequestPending">
   
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">kategorie:</th>
            <th  class="table-number" scope="col">ilość pytań:</th>
            <th  class="table-number" scope="col">pojedyncze:</th>
            <th  class="table-number" scope="col">multi:</th>
            <th  class="table-number" scope="col">otwarte:</th>
          </tr>
          <tr>
            <th  class="test-info filter-container">
              <input type="text" placeholder="wyszukaj ..." (keyup)="search()" [(ngModel)]="filter">
              <button *ngIf="filter.length" class="clear-button smaller" (click)="search(true)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
              </button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="filteredCategories.length">
          <tr [ngClass]="{'active': creatingNewCategory}" (click)="setActiveCategory('')">
            <td>+++ dodaj nową kategorię</td>
          </tr>
          <ng-container *ngFor="let category of filteredCategories; index as i">
            <tr [ngClass]="{'active': activeCategory == category.name}" (click)="setActiveCategory(category.name)">
              <td scope="row">{{ category.name }}</td>
              <td class="table-number" >{{ category.amount }}</td>
              <td class="table-number" >{{ category.singleAmount }}</td>
              <td class="table-number" >{{ category.multiAmount }}</td>
              <td class="table-number" >{{ category.openAmount }}</td>
            </tr>
          </ng-container>
        </tbody>
        <div *ngIf="!filteredCategories.length" class="no-data">brak wyników do wyświetlenia</div>
      </table>
    </div>
  </div>

  <div *ngIf="creatingNewCategory || activeCategory.length" class="card justify-content-start">
    <div class="card-header">Kategoria: {{activeCategory}}</div>
    <div class="row justify-content-center p-2" *ngIf="creatingNewCategory">
      <div class="col-md-8">
        <label for="newCategory" class="form-label">dodaj nową kategorię</label>
        <textarea type="text" class="form-control" id="newCategory" [(ngModel)]="activeCategory" autocomplete="off"></textarea>
      </div>
    </div>
    <div class="row justify-content-center p-2" *ngIf="activeCategory || creatingNewCategory">
      <div class="col-md-8">
        <label for="newCategory" class="form-label">dodaj treść pytania</label>
        <textarea type="text" class="form-control" id="newCategory" [(ngModel)]="questionContent" autocomplete="off"></textarea>
      </div>
    </div>
    <div class="row justify-content-center p-2" *ngIf="activeCategory || creatingNewCategory">
      <div class="col-md-8">
        <label for="newCategory" class="form-label">dodaj link do obrazu</label>
        <input type="file" accept="image/*" class="form-control" id="newCategory" (change)="handleFileInput($event)">
      </div>
    </div>
    <div *ngIf="imgURL" class="row justify-content-center p-1">
      <img [src]="imgURL" style="max-width: 250px; max-height: 200px;">
    </div>
    <div *ngIf="questionContent && activeCategory" class="row justify-content-center p-1">
      <button type="button" class="btn btn-secondary" (click)="clear()">Wyczyść</button>
      <button type="button" class="btn btn-primary" (click)="sendquestion()">Zapisz</button>
    </div>
  </div>
</div>
