img.emoticon {
    width: 70px;
}

svg {
    width: 20px;
    height: 20px;
}

button:hover svg {
    color: blue;
} 

.category {
    input {
        width: 80%;
    }
}

.date {
    width: 200px;
    input {
        width: 80%;
    }
}

.author {
    width: 200px;
    input {
        width: 80%;
    }
}

.actions {
    width: 200px;
}

.print-buttons-wrapper {
    gap: 15px;
}

.filter-container {
    position: relative;
}

.clear-button {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 74%;
    background: none;
    border: none;

    svg {
        width: 17px;
    }

    &.smaller {
        left: 66%;
    }
}