<div class="wrapper card mt-4">

    <div *ngIf="categories && categories.length" class="table-wrapper">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td class="nr">#</td>
                    <td>Nazwa kategorii</td>
                    <td class="actions"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{category.name}}</td>
                    <td class="actions">
                        <button class="btn btn-sm btn-primary mr-2" (click)="goToQuestions(category)" ngbTooltip="Idź do pytań z tej kategorii."><i class="bi bi-arrow-up-right"></i></button>
                        <button class="btn btn-sm btn-primary mr-2" (click)="openEditModal(category)" ngbTooltip="Edytuj nazwę kategorii."><i class="bi bi-pencil"></i></button>
                        <button class="btn btn-sm btn-danger" (click)="openDeleteModal(category)" ngbTooltip="Usuń kategorię i wszystkie jej pytania."><i class="bi bi-x-lg"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-categories-modal
    *ngIf="(deleteModalIsOpen || editModalIsOpen) && selectedCategory"
    [type]="modalType()"
    [category]="selectedCategory"
    (onCloseModal)="closeModal()"
></app-categories-modal>
