<div class="container" id="print-selection">
    <div class="header">
        <div class="student-info">
            <p>Data:</p>
            <p>Imię i Nazwisko:</p>
        </div>
        <div class="test-info">
            <p class="category">{{ category }}</p>
            <div class="composer-wrapper">
                <img [src]="emoticon" alt="user-emoticon">
                <p class="composer">{{ composer }}</p>
            </div>
        </div>
    </div>
    <div class="singleSelect-container groupContainer">

        <!-- QUESTION 1 -->
        <div class="question">
            <div class="question-content-wrapper">
                <h6>1.</h6>
                <textarea class="question-content" [(ngModel)]="questions.singleSelect[0].questionContent"></textarea>
            </div>
            <div class="answersContainer">
                <div class="answers">
                    <div class="img-container">
                        <img *ngIf="questions.singleSelect[0].img" [src]="questions.singleSelect[0].img">
                    </div>
                    <div class="answer-wrapper" *ngFor="let question of questions.singleSelect[0].answers">
                        <div class="checkbox" (click)="question.isRight = !question.isRight">
                            <div *ngIf="question.isRight" class="correct-answer"></div>
                        </div>
                        <textarea class="answer" [(ngModel)]="question.content"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!-- QUESTION 2 -->        
        <div class="question">
            <div class="question-content-wrapper">
                <h6>2.</h6>
                <textarea class="question-content" [(ngModel)]="questions.singleSelect[1].questionContent"></textarea>
            </div>
            <div class="answersContainer">
                <div class="answers">
                    <div class="img-container">
                        <img *ngIf="questions.singleSelect[1].img" [src]="questions.singleSelect[1].img">
                    </div>
                    <div class="answer-wrapper" *ngFor="let question of questions.singleSelect[1].answers">
                        <div class="checkbox" (click)="question.isRight = !question.isRight">
                            <div *ngIf="question.isRight" class="correct-answer"></div>
                        </div>
                        <textarea class="answer" [(ngModel)]="question.content"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="multiSelect-container groupContainer">
        <!-- QUESTION 3 -->        
        <div class="question">
            <div class="question-content-wrapper">
                <h6>3.</h6>
                <textarea class="question-content" [(ngModel)]="questions.multiSelect[0].questionContent"></textarea>
            </div>
            <div class="answersContainer">
                <div class="answers">
                    <div class="img-container">
                        <img *ngIf="questions.multiSelect[0].img" [src]="questions.multiSelect[0].img">
                    </div>
                    <div class="answer-wrapper" *ngFor="let question of questions.multiSelect[0].answers">
                        <div class="checkbox" (click)="question.isRight = !question.isRight">
                            <div *ngIf="question.isRight" class="correct-answer"></div>
                        </div>
                        <textarea class="answer" [(ngModel)]="question.content"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!-- QUESTION 4 -->        
        <div class="question">
            <div class="question-content-wrapper">
                <h6>4.</h6>
                <textarea class="question-content" [(ngModel)]="questions.multiSelect[1].questionContent"></textarea>
            </div>
            <div class="answersContainer">
                <div class="answers">
                    <div class="img-container">
                        <img *ngIf="questions.multiSelect[1].img" [src]="questions.multiSelect[1].img">
                    </div>
                    <div class="answer-wrapper" *ngFor="let question of questions.multiSelect[1].answers">
                        <div class="checkbox" (click)="question.isRight = !question.isRight">
                            <div *ngIf="question.isRight" class="correct-answer"></div>
                        </div>
                        <textarea class="answer" [(ngModel)]="question.content"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="open-container groupContainer">
        <!-- QUESTION 5 -->
        <div class="question">
            <div class="question-content-wrapper">
                <h6>5.</h6>
                <textarea class="question-content" [(ngModel)]="questions.open[0].questionContent"></textarea>
            </div>
            <div class="answersContainer">
                <div class="answers">
                    <div class="img-container">
                        <img *ngIf="questions.open[0].img" [src]="questions.open[0].img">
                    </div>
                </div>
            </div>
        </div>

        <!-- QUESTION 6 -->        
        <div class="question">
            <div class="question-content-wrapper">
                <h6>5.</h6>
                <textarea class="question-content" [(ngModel)]="questions.open[1].questionContent"></textarea>
            </div>
            <div class="answersContainer">
                <div class="answers">
                    <div class="img-container">
                        <img *ngIf="questions.open[1].img" [src]="questions.open[1].img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
