<router-outlet></router-outlet>
<h1>Jenerator</h1>
<div>
    <div class="row">login</div>
    <div class="row"><input #email type="text" [(ngModel)]="emailInput" (keyup)="requestError=''"></div>
</div>
<div>
    <div class="row">hasło</div>
    <div class="row" #password><input type="password" [(ngModel)]="passwordInput" (keyup)="requestError=''" (keyup.enter)="login()"></div>
</div>
<div *ngIf="requestError" class="error-container">{{ requestError }}</div>
<button *ngIf="!requestPending" class="btn btn-primary m-3" (click)="login()">Zaloguj</button>
<div *ngIf="requestPending" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>