:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

    h1 {
        font-family: 'Architects Daughter', cursive;
    }

    input {
        margin-bottom: 10px;
        width: 300px;
    }

    .spinner-border {
        margin-top: 16px
    }
}