@import '../../global-styling/colors.scss';
.wrapper {
    background-color: $light-gray;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}