tbody {
    display: block;
    max-height: 250px;
    overflow: auto;
  
    tr:hover {
      cursor: pointer;
    }
  }

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc( 100% - 1em )
}

table {
  width: 100%;
  background-color: white;
}

.table-number {
  width: 115px;
  text-align: center;
}

tr.active {
  background: lightgreen !important;
}

.table-search {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  align-items: center;

  input {
    width: 250px;
  }
}

.clear-button:hover {
  cursor:pointer;
  color: #007bff;
}

.no-data {
  padding: 15px;
}

.filter-container {
  position: relative;
}

.clear-button {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 74%;
  background: none;
  border: none;

  svg {
      width: 17px;
  }

  &.smaller {
      left: 66%;
  }
}