<div class="container">

  <div *ngIf="getDataRequestPending" class="spinner-wrapper row justify-content-center mt-5">
    <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
      <span class="sr-only">Pobieranie...</span>
    </div>
  </div>

  <div class="col justify-content-start p-3" *ngIf="!getDataRequestPending">
    
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">kategorie:</th>
            <th  class="table-number" scope="col">ilość pytań:</th>
            <th  class="table-number" scope="col">pojedyncze:</th>
            <th  class="table-number" scope="col">multi:</th>
            <th  class="table-number" scope="col">otwarte:</th>
          </tr>
          <tr>
            <th  class="test-info filter-container">
              <input type="text" placeholder="wyszukaj ..." (keyup)="search()" [(ngModel)]="filter">
              <button *ngIf="filter.length" class="clear-button smaller" (click)="search(true)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
              </button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="filteredCategories.length">
          <ng-container *ngFor="let category of filteredCategories; index as i">
            <tr [ngClass]="{'active': activeCategory == category.name}" (click)="selectCategory(category)">
              <td scope="row">{{ category.name }}</td>
              <td class="table-number" >{{ category.amount }}</td>
              <td class="table-number" >{{ category.singleAmount }}</td>
              <td class="table-number" >{{ category.multiAmount }}</td>
              <td class="table-number" >{{ category.openAmount }}</td>
            </tr>
          </ng-container>
        </tbody>
        <div *ngIf="!filteredCategories.length" class="no-data">brak wyników do wyświetlenia</div>
      </table>
    </div>


    <div class="type-chooser" *ngIf="filteredData && filteredData.length">
      <h6 >wybierz typ:</h6>
        <label>
          <input class="type-radio" type="radio" name="type" value="singleSelect" (click)="filterByType($event)">
          pojedyncze
        </label><br/>
        <label>
          <input class="type-radio" type="radio" name="type" value="multiSelect" (click)="filterByType($event)">
          multi
        </label><br/>
        <label>
          <input class="type-radio" type="radio" name="type" value="open" (click)="filterByType($event)">
          otwarte
        </label>
    </div>
  </div>


  <div class="row justify-content-start p-3">
    <h5 *ngIf="filteredByCategory && filteredByCategory.length" >
      Kategoria: <strong>{{ activeCategory }}</strong> <br>Typ: <strong>{{ translateType(activeType) }}</strong>
    </h5>
  </div>

<div *ngIf="filteredByCategory && filteredByCategory.length" class="col">
  <ng-container *ngFor="let question of filteredByCategory">
    <ngb-accordion #acc="ngbAccordion" (panelChange)="preventEmpty($event, question)">

      <ngb-panel>

        <ng-template ngbPanelHeader>
          <div ngbPanelToggle class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">{{ question.questionContent}}</button>
            <div class="button-container">
              <button type="button" class="btn btn-sm btn-secondary" (click)="selectToEdit(question)">edytuj</button>
              <button type="button" class="btn btn-sm btn-outline-danger ml-2" (click)="deleteQuestion(question._id)">usuń</button>
            </div>
          </div>
        </ng-template>
        
        <ng-template ngbPanelContent>
          <ul *ngIf="question.answers && question.answers.length">
            <li [ngClass]="question.answers[0].isRight ? 'true' : 'false'">{{question.answers[0].content}}</li>
            <li [ngClass]="question.answers[1].isRight ? 'true' : 'false'">{{question.answers[1].content}}</li>
            <li [ngClass]="question.answers[2].isRight ? 'true' : 'false'">{{question.answers[2].content}}</li>
            <li [ngClass]="question.answers[3].isRight ? 'true' : 'false'">{{question.answers[3].content}}</li>
          </ul>
          <img [src]="question.img">
        </ng-template>

      </ngb-panel>
    </ngb-accordion>
  </ng-container>

</div>

</div>
<app-edit-question 
  *ngIf="editVisible"
  (onEditClose)="editClose()"
  [question]="selectedQuestion"
></app-edit-question>
