/* You can add global styles to this file, and also import other style files */
@import './app/global-styling/colors.scss';
@import './app/global-styling/modal.scss';
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
$primary: $color1;


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons';

.card {
    padding: 12px;
    box-shadow: 0px 0px 10px 1px $color2;
    max-width: 1000px;
    margin: 0 auto;
}

thead {
    background-color: #606C3810;
}

.range-selectors {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    justify-content: space-between;
    background-color: #606C3810;
    border: 1px solid #dee2e6;
  
    .range-buttons {
        display: flex;
        gap: 15px;

        button {
            padding: 3px;
            line-height: 15px;
            height: 25px;
            font-size: 13px;
        }
    }

    .info {
        display: flex;
        gap: 20px;
    }
}