<div class="container" id="print-selection">
    <div class="header">
        <div class="student-info">
            <p>Data:</p>
            <p>Imię i Nazwisko:</p>
        </div>
        <div class="test-info">
            <p class="category">{{ newTest.category ? newTest.category.name : '-----' }}</p>
            <div class="composer-wrapper">
                <img [src]="newTest.author.emoticon" alt="user-emoticon">
                <p class="composer">{{ newTest.author.shortName }}</p>
            </div>
        </div>
    </div>
    <div class="singleSelect-container groupContainer">

        <!-- QUESTION 1 -->
        <div class="question" *ngFor="let question of newTest.questions; let i = index">
            <app-question-changer *ngIf="!savedTestPreview" [question]="question"></app-question-changer>
            <div class="question-content-wrapper">
                <h6>{{i + 1}}</h6>
                <textarea class="question-content" >{{question.questionContent}}</textarea>
            </div>
            <div class="answersContainer">
                <div class="answers">
                    <div class="img-container">
                        <img src="" >
                    </div>
                    <div class="answer-wrapper" *ngFor="let answer of question.answers">
                        <div class="checkbox" (click)="answer.isRight = !answer.isRight">
                            <div *ngIf="answer.isRight" class="correct-answer"></div>
                        </div>
                        <textarea class="answer" [(ngModel)]="answer.content"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>